.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 10rem;
  width: 100%;
  text-align: center;
}

.main-container {
  background-color: var(--ash-gray-2);
  padding-left: 2em;
  padding-right: 2rem;
}

.game-configuration {
  width: 90%;
  max-width: 50rem;
  text-align: center;
  margin: 3rem auto;
}

.game-configuration ol {
  padding-inline-start: 0px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.game-configuration li {
  background-color: var(--non-photo-blue);
  width: 50%;
  border-radius: 4px;
  margin: 0.8rem;
  padding: 0.8rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.game-configuration h2 {
  font-size: 2.3rem;
  margin: 0.3rem 0;
  color: var(--purple-dark);
}

.game-configuration h3,
.game-configuration p {
  font-size: 2.6rem;
  margin: 1rem;
}

button {
  text-align: center;
  display: inline-block;
}

.btn-alt {
  padding: 1rem 3rem;
}

label {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}

input {
  width: 100%;
  font-size: 2rem;
}

